parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	- App\Forms\LoginFormFactory
	- App\Forms\CreateFormFactory
	- App\Forms\AddProductFactory
	- App\Models\dbManager
	- App\Models\myAuthenticator
