{block content}
	<style>
		.backgroundKomplet {
			background-image: url("../Obrazky/komplet.jpg");
			background-size: cover;
    		background-repeat: no-repeat;
    		height: 49vh;
			color: white;
			font-family: Arial;
			font-weight: bold;
			font-size: 60px;
		}

		#textKomplet {
			position: relative;
			top: 25%;
			left: 41%;
		}
	</style>
	
	{block backgroundKomplet}
		<div class="backgroundKomplet">
			<p id="textKomplet">KOMPLETY</p>
		</div>
	{/block}
{/block}
